.image-logo {
  position: absolute;
  width: 66.61px;
  height: 42.4px;
  left: 24px;
  top: 24px;
}

.drawer-header {
  position: absolute;
  width: 126px;
  height: 15px;
  left: 115px;
  top: 24px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;

}

.drawer-sub-header {
  position: absolute;
  width: 277px;
  height: 21px;
  left: 115px;
  top: 45px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #FFFFFF;
}

.main-drawer-item {
  width: 410px;
  height: 60px;
  border-radius: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 25px;
}


.main-drawer-item:hover {
  background-color: #E79378;
}

.is-active .main-drawer-item,
.is-active .sub-drawer-item{
  background-color: #E79378 !important;
}

.sub-drawer-item {
  width: 360px;
  height: 30px;
  border-radius: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 25px;
}

.sub-drawer-item:hover {
  background-color: #E79378;
}

.footer-User-name {
  height: 28px;
  left: 119px;
  top: 942px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  /* margin-left: 31px; */
}

@media (max-width: 1300px) {
  .main-drawer-item {
    width: 90%;
  }
  .sub-drawer-item {
    width: 95%;
  }
}

.text{
  position: relative;
  background-color: #FFFFFF;
  width: 200px;
  height: 50px;
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .triangle {
  display: block;
  height: 15px;
  width: 5px;
  border: 16px solid transparent;
  border-top-color: #FFFFFF;
  position: absolute;
  bottom: -24px;
  left: calc(100% - 67px);
 
 }
