.nav-link{
    display: flex;
    justify-content: space-between;
}
.Nav-heading{
    margin: 31px 0px 56px 84px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #E79378;
}
.Nav-container{
    margin: 0px 0px 40px 0px;
}
.Nav-content-head{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #3E4059;
}
.Nav-content-child{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    color: #3E4059;
}
.Table-heading{
    margin: 0px 0px 0px 84px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #E79378; 
}